@font-face {
	font-family: 'Noto Serif';
	src: url(./assets/fonts/NotoSerifJP-Light.otf);
	font-weight: lighter;
}

@font-face {
	font-family: 'Noto Serif';
	src: url(./assets/fonts/NotoSerifJP-Regular.otf);
	font-weight: normal;
}

@font-face {
	font-family: 'Noto Serif';
	src: url(./assets/fonts/NotoSerifJP-Bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: 'Noto Serif';
	src: url(./assets/fonts/NotoSerifJP-Black.otf);
	font-weight: bolder;
}

@font-face {
	font-family: 'Noto Serif';
	src: url(./assets/fonts/NotoSerifJP-ExtraLight.otf);
	font-weight: 200;
}

@font-face {
	font-family: 'Noto Serif';
	src: url(./assets/fonts/NotoSerifJP-Light.otf);
	font-weight: 300;
}

@font-face {
	font-family: 'Noto Serif';
	src: url(./assets/fonts/NotoSerifJP-Regular.otf);
	font-weight: 400;
}

@font-face {
	font-family: 'Noto Serif';
	src: url(./assets/fonts/NotoSerifJP-Medium.otf);
	font-weight: 500;
}

@font-face {
	font-family: 'Noto Serif';
	src: url(./assets/fonts/NotoSerifJP-SemiBold.otf);
	font-weight: 600;
}

@font-face {
	font-family: 'Noto Serif';
	src: url(./assets/fonts/NotoSerifJP-Bold.otf);
	font-weight: 700;
}

@font-face {
	font-family: 'Noto Serif';
	src: url(./assets/fonts/NotoSerifJP-Black.otf);
	font-weight: 900;
}

:root {
	font-size: 16px;

	--background-header: url(./assets/images/header-bg.jpg);

	--font-family: 'Noto Serif';

	--background-primary: #f4d1d5;
	--main-brand: #4c7797;

	--red-shade: #dc3654;
	--red-accent: #b52342;

	--main-light: #fff;

	--text-dark: var(--red-accent);
	--text-dark-secondary: var(--main-brand);
	--text-darker: #121420;
	--text-light: #ffffff;
	--text-light-secondary: #ffffcc;

	--color-info: #779bd7;
	--color-warning: #fd5f00;
	--color-danger: #ff709b;
	--color-primary: #005792;
	--color-default: #AAA;
	--color-success: #57b0fb;

	--text-danger: #ff709b;

	--default-border-radius: 0.1875rem;

	--input-disabled-color: #333;
	--input-disabled-bg: #FFF6;
}

/* @media (prefers-color-scheme: dark) {
	:root {
	}
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	scroll-behavior: smooth;
	line-height: 140%;
}

html,
body,
#root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: var(--background-primary);
	color: var(--text-dark);
}

body,
input,
textarea,
button {
	font-family: var(--font-family);
	font-size: 1rem;
	outline: none;
	border: none;
	box-shadow: none;
}

[data-shadow] {
	box-shadow: #0005 0px 2px 4px 0px, #0005 0px 2px 16px 0px !important;
}

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-track {
	background: #0000;
}

::-webkit-scrollbar-thumb {
	background: var(--red-shade);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--red-accent);
}

/* OVERRIDE TOAST STYLES */
.toast {
	color: var(--text-light-secondary);
}
.toast.info {
	background: var(--color-info);
}
.toast.warning {
	background: var(--color-warning);
}
.toast.error {
	background: var(--color-danger);
}
.toast.success {
	background: var(--color-success);
}

.toast.unauthorized {
	background: var(--red-shade);
}

.toast .progress {
	background: var(--text-light-secondary);
}
